.top-nav {
  padding: 40px 42px 40px 42px;
}
.top-nav .choose-location {
  font-size: 14px;
  font-weight: lighter;
}
.top-nav .centerhorizontally {
  flex-direction: row;
  align-items: center;
}
.top-nav #navi-logo {
  padding: 2px;
}
.symbol-style{
  margin:0;
}